# Dependencies
/node_modules
/src/node_modules

# Build output
/src/dist

# Environment variables
.env
/src/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# SQLite database files
/src/data/*.sqlite
/src/data/*.sqlite-shm
/src/data/*.sqlite-wal

# IDE and editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
